html {
    font-size: 150%;
}

body {
    background-image: none;
}

#layout-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    width: 100%;
}

#features-grid {
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    padding-bottom: 10px;
}

#feature-lotw {
    text-align: left;
}

.sotdimage {
    float: left;
    border: 1px solid #52A54E;
}

.lotwimage {
    float: left;
    border: 1px solid #52A54E;
}

#features-grid div#feature-button {
    display: none;
}

#content {
    padding: 10px;
    margin-top: 4em;
}

nav {
    display: block;
    position: absolute;
    float: left;
    overflow: auto;
    clear: bottom;
}

/* Show Hamburger */
#page-nav label {
    display: inline-block;
    color: #52A54E;
    font-size: 4em;
    padding: 5px;
}

#page-nav li {
    padding-bottom: 5px;
}

/* Toggle show/hide menu on checkbox click */

#menu {
    display: none;
    background-image: none;
    background-color: black;
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    min-height: 0;
}

#page-nav input:checked ~ #menu {
    display: block;
}

#footer-start {
    display: none;
}

#footer {
    grid-column-start: 1;
}
