* {
    margin: 0px;
    padding: 0px;
}

ul {
    padding-left: 20px;
}

ol {
    padding-left: 20px;
}

html {
    font-size: 100%;
}

body {
    /* font-size: .85em; */
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    color: lightgray;
    min-height: 100%;
}

li {
    margin-left: 10px;
}

a:link    { text-decoration: none;      color: #52A54E; }
a:visited { text-decoration: none;      color: #52A54E; }
a:active  { text-decoration: none;      color: #52A54E; }
a:hover   { text-decoration: underline; color: #A6BA45; }

#layout-grid {
    display: grid;
    grid-template-columns: 130px auto;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* Hide Hamburger */
#page-nav label, #hamburger {
    display: none;
}

#menu {
    background-image: url("/bground.gif");
    padding-left: 8px;
    padding-top: 8px;
    min-height: 100%;
}

#menu h1 {
    font-size: 1em;
    font-weight: bold;
}

#menu ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding-left: 5px;
}

#menu li {
    margin-left: 5px;
}

#content {
    margin: 10px;
}

#content h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 3px solid #808080;
}

#content h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50%;  /* or 100px */
    background-image: linear-gradient(to right, #808080, #000000); 
}

#content p {
    margin-bottom: 10px;
    margin-top: 10px;
}

#content blockquote {
    margin-left: 40px;
}

#content blockquote.submission-example {
    margin-left: 20px;
    font-family: monospace;
}

.chat-table td {
    padding: 10px;
}

.cheat-table td {
    padding: 5px;
}

#content kbd {
    font-size: 110%;
}

#footer {
    grid-column-start: 2;
}

#footer p {

}

#footer p#copyright {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 10px;
}

#footer p#disclaimer {
    text-align: center;
    font-size: .8em;
}

p#last-updated {
    font-size: .8em;
    text-align: center;
}

div#logo {
    text-align: center;
    padding-bottom: 20px;
}

#features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 10px;
    max-width: 100%;
}

#features-grid div#feature-recent-levels {
}

#features-grid div#feature-in-house {
}

#features-grid div#feature-hosted-sites {
}

#features-grid div#feature-sotd {
}

#features-grid div#feature-button {
    align-self: center;
    justify-self: center;
}

#features-grid div#feature-lotw {
}

.feature-title {
    display: block;
    font-weight: bold;
    background: url("https://www.massassi.net/cellbg.gif");
    padding: 2px;
    text-align: center;
}

.feature-title-small {
    font-weight: bold;
    padding: 2px;
}

#feature-lotw {
    text-align: right;
}

.sotdimage {
    float: left;
    border: 1px solid #52A54E;
}

.lotwimage {
    float: right;
    border: 1px solid #52A54E;
}

p#testimonial {
    display: block;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h1.news-date {
    display: block;
    border: 2px solid gray;
    border-style: ridge;
    background: url("https://www.massassi.net/cellbg.gif");
    padding: 3px;
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
}

.news-block {
    margin: 10px 0px 20px 0px;
}

span.news-author {
    font-weight: normal;
    font-size: .75em;
    color: gray;
}

.news-headline {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

.news-body {
    padding-left: 50px;
}

.news-level-description {
    color: gray;
}

.news-level-screenshot {
    border: 1px solid #52A54E;
    margin: 10px 0px;
}

.news-oldnews {
    padding-top: 20px;
    padding-bottom: 20px;
}

.caption {
    padding: 0px 5px;
    overflow: auto;
}

/*
 * Tutorials
 */

p.tutorial-list-item {
    padding-bottom: 10px;
}

span.tutorial-author {
    font-weight: normal;
    color: gray;
}

span.tutorial-date {
    font-weight: normal;
    font-size: .75em;
    color: gray;
}

div.tutorial-table table {
    border-collapse: collapse;
}

div.tutorial-table td {
    padding: 10px;
}

div.tutorial-table table,
div.tutorial-table th,
div.tutorial-table td {
    border: 1px solid #000000;
}

div.tutorial-table tr:nth-child(even) {
    background-color: #101010;
}

div.tutorial-table th {
    font-size: 1em;
    background-color: #202020;
}

.tutorial-blue {
    color: deepskyblue;
}

.tutorial-red {
    color: red;
}

.note {
    border: 1px solid #101010;
    margin: 1em;
    padding: 1em;
}

code {
    color: #808080;
    font-size: 1.2em;
    margin-left: 20px;
    display: block;
}

ul.columns-2 {
    height: 210px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
