<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 1024px)" href="smallstyles.css">

        <title>The Massassi Temple: #1 Source For Everything Jedi Knight: Dark Forces II</title>

        <meta name="keywords" content="Jedi Knight: Dark Forces II, Jedi Outcast, Jedi Knight 2, Jedi Knight II, Mysteries of the Sith, News, Editing, Tutorials, Forums, Message Boards, Help"> 
        <meta name="description" content="Up to date news, information, and downloads related to Jedi Knight II: Jedi Outcast, Star Wars: Jedi Knight: Dark Forces II and Mysteries of the Sith, as well as all upcoming Star Wars Shooters."> 
        <link rel="shortcut icon" href="/favicon.ico">
    </head>

    <body>

        <div id="layout-grid">
            <nav id="page-nav">
                <label for="hamburger">&#9776;</label>
                <input type="checkbox" id="hamburger" />

                <div id="menu">
                    <h1>News</h1>

                    <ul>
                        <li><a href="/>">Current</a></li>
                        <li><a href="/oldnews/">Old</a> / <a href="/oldnews/search.php">Search</a></li>
                        <li><a href="submit/">Submitting...</a></li>
                    </ul>

                    <h1>Game Info</h1>
                    <ul>
                        <li><a href="/jediknight/">JK</a> / <a href="/mots/">MotS</a></li>
                        <li><a href="/jk2/">Jedi Outcast</a></li>
                    </ul>

                    <h1>Community</h1>
                    <ul>
                        <li><a href="http://forums.massassi.net/" target="_top">Forums</a></li>
                        <li><a href="/chat/">Chat</a></li>
                    </ul>

                    <h1>Resources</h1>
                    <ul>
                        <li><a href="/articles/">Articles</a></li>
                        <li><a href="/basics/">Basics</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/tutorials.php">Tutorials</a></li>
                        <!-- <li><a href="/reviews/" target="_top">Level Reviews</a></li> -->
                        <li><a href="/jkspecs/" target="_top">JK Specs</a></li>
                    </ul>

                    <h1>Downloads</h1>
                    <ul>
                        <li><a href="/3dos/">3D Objects</a></li>
                        <li><a href="/cog/">Cogs</a></li>
                        <li><a href="/levels/">Levels/Mods</a></li>
                        <li><a href="/mats/">Mats</a></li>
                        <li><a href="/misc/">Misc</a></li>
                        <!-- <li><a href="/plugins/">Plugins</a><li>> -->
                        <li><a href="/programs/">Programs</a></li>
                    </ul>
                </div>
            </nav>

            <div id="content">

                <p id="last-updated">Last Updated: 2019-01-22 06:16 UTC</p>

                <div id="logo"><img src="/images/logo1.jpg" height="154" width="384" alt="Logo By Ewok!"></div>

                <div id="features-grid">
                    <div id="feature-recent-levels">
                        <div class="feature-title">Recent Levels</div>
                        <div class="feature-content">
                              2019-01-22 <a href="/levels/files/3136.shtml">Take-Off: Destiny of Alderaan 2: The Sole Jedi</a><br>
                              2016-02-25 <a href="/levels/files/3135.shtml">Life of Grismath</a><br>
                              2016-02-25 <a href="/levels/files/3134.shtml">TODOA 2- Duel at Belga Jer</a><br>
                              2016-02-25 <a href="/levels/files/3133.shtml">Take-Off: Destiny of Alderaan</a><br>
                              2016-02-25 <a href="/levels/files/3132.shtml">Magrucko Daines and the Vertical City</a><br>
                              2016-02-25 <a href="/levels/files/3131.shtml">Dash's Place</a><br>
                              2012-11-08 <a href="/levels/files/3130.shtml">DarkSeeker: Enter the Darkness</a>
                        </div>
                    </div>

                    <div id="feature-in-house">
                        <div class="feature-title">In-House</div>
                        <div class="feature-content">
                            <ul>
                                <li><a href="/domlp/">Death of Massassi Level Pack</a><br>
                                <li>Massassi MP Packs: <a href="/levelpack/">1</a>, <a href="/mlp2/">2</a>, <a href="/mlp3/">3</a>, <a href="/mlp4/">4</a>, <a href="/mlp5/">5</a>, <a href="/mlp6/">6</a></li>
                                <li>Massassi <a href="/ctfpack/">Capture The Flag Pack</a></li>
                                <li><a href="/jkarena/index.php?x=levelpack" target="_top">Jedi Knight Arena Level Pack</a></li>
                                <li>SP Contest Winners: <a href="/levels/files/2999.shtml">1</a>, <a href="/levels/files/3105.shtml">2</a></li>
                                <li>How to <a href="/submit/">submit your work</a></li>
                            </ul>
                        </div>
                    </div>

                    <div id="feature-hosted-sites">
                        <div class="feature-title">Hosted Sites</div>
                        <div class="feature-content">
                            <a href="http://tacc.massassi.net/" target="_top">Admiral's Command Chamber</a><br>
                            <a href="/jkarena/" target="_top">JK Arena</a>: MP Modification<br>
                            <a href="http://www.jkhub.net/" target="_top">JK Editing Hub</a><br>
                            <a href="http://millennium.massassi.net/" target="_top">Millennium</a>: Cog Resource<br>
                            <a href="http://rbots.massassi.net/" target="_top">Rbots</a>: JK/Mots Bots
                        </div>
                    </div>

                    <div id="feature-sotd">
                        <div class="feature-title-small">Screenshot of the Day</div>
                        <div class="feature-content">
                            <a href="/sotd/?task=view&amp;date=2018-08-27">
                            <img src="/sotd/images/thumbnails/2018-08-27.jpg" alt="SotD for 2018-08-27" height=87 width=120 class="sotdimage" /></a>
                            <div class="caption">Definitely not.<br><a href="/sotd/">Archives</a></div>
                        </div>
                    </div>

                    <div id="feature-button">
                        <a href="/"><img src="/images/mas_but2.gif" height="36" width="90" alt="Link to Us! [Button by Rieekan]"></a>
                    </div>

                    <div id="feature-lotw">
                        <div class="feature-title-small">Level of the Week</div>
                        <div class="feature-content">
                            <a href="/levels/files/3087.shtml"><img src="/ssi/lotw/thumbnails/3087.jpg" height="75" width="100" alt="Level of the Week" class="lotwimage"></a>
                            <div class="caption">Jedi Knight Enhanced<br><a href="/levels/lotw/">Archives</a></div>
                        </div>
                    </div>
                </div>

                <p id="testimonial"><em>BTW: Massassi is the best web site in the history of the universe!</em> - Otterbine</p>

                <h1 class="news-date">Monday, January 21, 2019</h1>

                <div class="news-block">
                    <div class="news-headline">New Jedi Knight Single Player Level: Take-Off: Destiny of Alderaan 2: The Sole Jedi</strong> - <span class="news-author">Brian @ 10:14 pm</span></div>
                    <div class="news-body">
                        <strong>File:</strong> <a href="/levels/files/3136.shtml">Take-Off: Destiny of Alderaan 2: The Sole Jedi</a><br>
                        <strong>Author:</strong> <a href="mailto:fastgamerr@gmail.com">FastGamerr</a><br>
                        <strong>Description:</strong> <span class="news-level-description">As the last Jedi on Alderaan, eliminate the Imperials in the area to escape the planet before its destruction.

                        NOTE! When playing on the Hard difficulty, the human enemies will be stormtroopers with raildets. Cheers!</span><br>
                        <a href="/cgi-bin/screenshot.cgi?levels/files/screenshots/3136_1.jpg"><img class="news-level-screenshot" src="/levels/files/thumbnails/3136_1.jpg" width=200 height=113></a> <a href="/cgi-bin/screenshot.cgi?levels/files/screenshots/3136_2.jpg"><img class="news-level-screenshot" src="/levels/files/thumbnails/3136_2.jpg" width=200 height=113></a>
                    </div>
                </div>

                <h1 class="news-date">Wednesday, August 15, 2018</h1>

                <div class="news-block">
                    <div class="news-headline">Nikumubeki and Eversor Asked For This - <span class="news-author">Brian @ 8:33 pm</span></div>
                    <div class="news-body">
                        <p>Nikumubeki <a href="https://forums.massassi.net/vb3/showthread.php?68020-Request-to-Brian-Sine-s-Nar-screenshots-and-JKL2OBJ">asked</a> me to copy over some old stuff to the Massassi server.  And Eversor demanded I update the main page.  Here it is.</p>
                        <ul>
                            <li><a href="/etc/SINE/">SINE</a> - Screenshots of a level Sine_Nomen was working on before his computer crashed and everything was lost :(</li>
                            <li><a href="/etc/JKL2OBJ/">JKL2OBJ</a> - I'm not familiar with this, but the included tutorial video indicates that you can take a gob file and export the whole thing (jkl, referenced 3dos, textures, etc.) as an .obj file which can be used in 3dsmax</li>
                        </ul>
                    </div>
                </div>

                <div class="news-block">
                    <div class="news-headline">Nikumubeki and Eversor Asked For This - <span class="news-author">Brian @ 8:33 pm</span></div>
                    <div class="news-body">
                        <p>Nikumubeki <a href="https://forums.massassi.net/vb3/showthread.php?68020-Request-to-Brian-Sine-s-Nar-screenshots-and-JKL2OBJ">asked</a> me to copy over some old stuff to the Massassi server.  And Eversor demanded I update the main page.  Here it is.</p>
                        <ul>
                            <li><a href="/etc/SINE/">SINE</a> - Screenshots of a level Sine_Nomen was working on before his computer crashed and everything was lost :(</li>
                            <li><a href="/etc/JKL2OBJ/">JKL2OBJ</a> - I'm not familiar with this, but the included tutorial video indicates that you can take a gob file and export the whole thing (jkl, referenced 3dos, textures, etc.) as an .obj file which can be used in 3dsmax</li>
                        </ul>
                    </div>
                </div>

                <p class="news-oldnews">Want to read more?  Looking for older news?  Try <a href="/oldnews/">Old News</a> or <a href="/oldnews/search.php">News Search</a>.</p>

                <div id="footer">
                    <p id="copyright">Copyright &copy; 1997-2019 Brian E. Lozier &amp; Contributers</p>
                    <p id="disclaimer">Nothing on this site is made, distributed, or supported by LucasArts Entertainment Company or Disney. This site was created by and is maintained by fans of Star Wars and Star Wars gaming. Use and download all information/files at your own risk.</p>
                </div>

            </div>

        </div>
    </body>
</html>
