<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 1024px)" href="/static/css/smallstyles.css">

        <title>
            {% block title %}
                {% if title %}{{title}}{% else %}WAT!?{% endif %}
            {% endblock %} - The Massassi Temple
        </title>

        <meta name="description" content="{% block description %}{% if description %}{{ description }}{% endif %}{% endblock %}">

        <link rel="shortcut icon" href="/static/favicon.ico">
    </head>

    <body>
        <script data-goatcounter="https://massassi.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

        <div id="layout-grid">
            <nav id="page-nav">
                <label for="hamburger">&#9776;</label>
                <input type="checkbox" id="hamburger" />

                <div id="menu">
                    <h1>News</h1>

                    <ul>
                        <li><a href="/">Current</a></li>
                        <li><a href="/news_archive.html">Archive</a></li>
                        <li><a href="/news_search.html">Search</a></li>
                        <li><a href="/submit/">Submit</a></li>
                    </ul>

                    <h1>Community</h1>
                    <ul>
                        <li><a href="http://forums.massassi.net/">Forums</a></li>
                        <li><a href="/chat/">Chat</a></li>
                    </ul>

                    <h1>Downloads</h1>
                    <ul>
                        <li><a href="/levels/">Levels/Mods</a></li>
                    </ul>

                    <h1>Game Info</h1>
                    <ul>
                        <li><a href="/jediknight/">JK</a> / <a href="/mots/">MotS</a></li>
                    </ul>

                    <h1>Editing</h1>
                    <ul>
                        <li><a href="/articles/">Articles</a></li>
                        <li><a href="/basics/">Basics</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/tutorials.html">Tutorials</a></li>
                        <li><a href="/jkspecs/">JK Specs</a></li>
                    </ul>

                    <h1>Resources</h1>
                    <ul>
                        <li><a href="/3dos/">3D Objects</a></li>
                        <li><a href="/cog/">Cogs</a></li>
                        <li><a href="/mats/">Textures</a></li>
                        <li><a href="/misc/">Misc</a></li>
                        <li><a href="/programs/">Programs</a></li>
                    </ul>
                </div>
            </nav>

            <div id="content">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if original %}
                    <p class="note">Note: This is an old page that has been updated/formatted, you can view the original <a href="{{ original }}">here</a>.
                {% endif %}

                {% block content %}
                    {% if title %}<h1>{{ title }}</h1>{% endif %}
                    {{ content }}
                {% endblock %}
            </div> <!-- end "content" -->

            <div id="footer">
                <p id="copyright">Copyright &copy; 1997-2022 Brian E. Lozier &amp; Contributors.  <a href="/privacy.html">Privacy Policy</a></p>
                <p id="disclaimer">Nothing on this site is made, distributed, or supported by LucasArts Entertainment
                    Company or Disney. This site was created by and is maintained by fans of Star Wars and Star Wars
                    gaming. Use and download all information/files at your own risk.</p>
            </div>

        </div> <!-- end "layout_grid" -->
    </body>
</html>
