<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 1024px)" href="/styles/smallstyles.css">

        <title>{{ title }} - The Massassi Temple</title>

        <meta name="description" content="{{ description }}"> 
        <link rel="shortcut icon" href="/favicon.ico">
    </head>

    <body>

        <div id="layout-grid">
            <nav id="page-nav">
                <label for="hamburger">&#9776;</label>
                <input type="checkbox" id="hamburger" />

                <div id="menu">
                    <h1>News</h1>

                    <ul>
                        <li><a href="/">Current</a></li>
                        <li><a href="/oldnews/">Old</a> / <a href="/oldnews/search.php">Search</a></li>
                        <li><a href="/submit/">Submitting...</a></li>
                    </ul>

                    <h1>Community</h1>
                    <ul>
                        <li><a href="http://forums.massassi.net/" target="_top">Forums</a></li>
                        <li><a href="/chat/">Chat</a></li>
                    </ul>

                    <h1>Downloads</h1>
                    <ul>
                        <li><a href="/levels/">Levels/Mods</a></li>
                    </ul>

                    <h1>Game Info</h1>
                    <ul>
                        <li><a href="/jediknight/">JK</a> / <a href="/mots/">MotS</a></li>
                    </ul>

                    <h1>Editing</h1>
                    <ul>
                        <li><a href="/articles/">Articles</a></li>
                        <li><a href="/basics/">Basics</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/tutorials.php">Tutorials</a></li>
                        <li><a href="/jkspecs/" target="_top">JK Specs</a></li>
                    </ul>

                    <h1>Resources</h1>
                    <ul>
                        <li><a href="/3dos/">3D Objects</a></li>
                        <li><a href="/cog/">Cogs</a></li>
                        <li><a href="/mats/">Mats</a></li>
                        <li><a href="/misc/">Misc</a></li>
                        <li><a href="/programs/">Programs</a></li>
                    </ul>
                </div>
            </nav>

            <div id="content">
                <h1>{{ title }}</h1>

                {{ body }}

                <div id="footer">
                    <p id="copyright">Copyright &copy; 1997-2020 Brian E. Lozier &amp; Contributers</p>
                    <p id="disclaimer">Nothing on this site is made, distributed, or supported by LucasArts Entertainment Company or Disney. This site was created by and is maintained by fans of Star Wars and Star Wars gaming. Use and download all information/files at your own risk.</p>
                </div>
            </div> <!-- end "content" -->

        </div> <!-- end "layout_grid" -->
    </body>
</html>
