---
title: "Editing/Modding Tutorials for Dark Forces II: Jedi Knight, Jedi Outcast, and Jedi Academy"
---

<ul>
    <li><a href="#jk_section">Jedi Knight / Mysteries of the Sith Editing Tutorials</a></li>
    <li><a href="#jo_section">Jedi Outcast / Jedi Academy Tutorials</a></li>
</ul>

<h2 id="jk_section">Jedi Knight/Mysteries of the Sith Editing Tutorials</h2>

{% for tut in collections.tutorials %}
    {% if tut.category != 'jk' %}
        {% continue %}
    {% endif %}

    <p class="tutorial-list-item"><strong><a href="{{ tut._href }}">{{ tut.title }}</a></strong>
    <span class="tutorial-author">by {{ tut.author }}</span>
    <span class="tutorial-date">({{ tut.date }})</span><br>
    {{ tut.description }}</p>
{% endfor %}

<h2 id="jo_section">Jedi Knight II: Jedi Outcast & Jedi Academy Tutorials</h2>

{% for tut in collections.tutorials %}
    {% if tut.category != 'jo' %}
        {% continue %}
    {% endif %}

    <p class="tutorial-list-item"><strong><a href="{{ tut._href }}">{{ tut.title }}</a></strong>
    <span class="tutorial-author">by {{ tut.author }}</span>
    <span class="tutorial-date">({{ tut.date }})</span><br>
    {{ tut.description }}</p>
{% endfor %}
